{% extends 'UTipsApp/base.html' %} 

{% block content %}
	<article class="media content-section">
		<div class="media-body" id = "about-text">
			Studying is the process by which every single person could feel that 
			they are stepping towards a point that has been only thought impossible
			before. This point could be so amazing and enjoyable that old failures and
			struggles can be stepped over easily. <br><br> There are so many paths that a person
			can take to reach their aim but choosing specific ones could become so
			challenging that it would cause stress and confusion. <br><br> This site has been developed
			and is intended to be constantly updated further to help any person by showing steps 
			of others who can share some secrets and tips while going in this way. This site 
			is significant for us since a lot of minutes spent searching needed materials that can pile up
			and turn into hours would be decreased bringing much more efficienct than before.<br><br>
			We are happy to announce the "UTips" 🎉🎉🎉
		</div>
	</article>
{% endblock content %}

{% block main-style %}
<style class = "back-wide">
  body{
    background-image: url("../../../media/vertical.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
</style>
{% endblock main-style %}

{% block img_desktop %}
	<footer class="desktop">
		<section class = "social">
		  <div id = "footer-text">
			From a CSE Student at IUT <br>93 916-96-44 <br>jascinmamurov7@gmail.com
		  </div>
		  <figure>
			<a href="https://www.linkedin.com/in/jmamurov" target="_blank"><img src="../../../media/linkedIn_logo_changed.png" alt="Linkedin profile of the programmer"></a>
		  </figure>
		  <figure>
			<a href="https://t.me/Jasurbek16" target="_blank"><img src="../../../media/telegram_logo_changed.png" alt="Telegram profile of the programmer"></a>
		  </figure>
		  <figure>
			<a href="https://www.youtube.com/channel/UCIqxfNzc9zxXa4D5EqvLtdA" target="_blank"><img src="../../../media/youtube_logo_changed.png" alt="YouTube channel of the programmer"></a>
		  </figure>
		  <figure>
			<a href="https://github.com/MJey16" target="_blank"><img src="../../../media/github_logo_changed.png" alt="GitHub profile of the programmer"></a>
		  </figure>
		</section>
		<div id = "footer-text2">
		  Shared with 💙<br>2021
		</div>
	</footer>  
{% endblock img_desktop %}

{% block img_tablet %}
	<footer class="tablet">
		<section class = "social">
		  <div id = "footer-text">
			From a CSE Student at IUT <br>93 916-96-44 <br>jascinmamurov7@gmail.com
		  </div>
		  <figure>
			<a href="https://www.linkedin.com/in/jmamurov" target="_blank"><img src="../../../media/linkedIn_logo_changed.png" alt="Linkedin profile of the programmer"></a>
		  </figure>
		  <figure>
			<a href="https://t.me/Jasurbek16" target="_blank"><img src="../../../media/telegram_logo_changed.png" alt="Telegram profile of the programmer"></a>
		  </figure>
		  <figure>
			<a href="https://www.youtube.com/channel/UCIqxfNzc9zxXa4D5EqvLtdA" target="_blank"><img src="../../../media/youtube_logo_changed.png" alt="YouTube channel of the programmer"></a>
		  </figure>
		  <figure>
			<a href="https://github.com/MJey16" target="_blank"><img src="../../../media/github_logo_changed.png" alt="GitHub profile of the programmer"></a>
		  </figure>
		</section>
		<div id = "footer-text2">
		  Shared with 💙<br>2021
		</div>
	</footer>
{% endblock img_tablet %}