{% extends 'UTipsApp/base.html' %} 

{% block content %}
	<article class="media content-section">
		<div class="media-body" id = "about-text">
			Studying is the process a person could feel that they are stepping towards a point that 
			seemed impossible before. This point could be so enjoyable that old failures and 
			struggles can be forgotten easily. <br><br> There are so many paths that a person can 
			take to reach their aim. However, choosing specific ones could become so challenging that 
			it would cause stress and confusion. <br><br> This site was developed and intended to be 
			constantly updated further to help any person by showing steps of others who can share 
			some secrets and tips while going in this way. The use of the site is that it decreases 
			a lot of minutes spent searching materials that can pile up and turn into hours, bringing 
			much more efficiency than before.
			<br><br>
			We are happy to announce the "UTips". 🎉🎉🎉
		</div>
	</article>
{% endblock content %}

{% block main-style %}
<style class = "back-wide">
  body{
    background-image: url("../../../media/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
</style>
{% endblock main-style %}

{% block img_desktop %}
	<footer class="desktop">
		<section class = "social">
		  <div id = "footer-text">
			From a CSE Student at IUT <br>93 916-96-44 <br>jascinmamurov7@gmail.com
		  </div>
		  <figure>
			<a href="https://www.linkedin.com/in/jmamurov" target="_blank"><img src="../../../media/linkedIn_logo_changed.png" alt="Linkedin profile of the programmer"></a>
		  </figure>
		  <figure>
			<a href="https://t.me/Jasurbek16" target="_blank"><img src="../../../media/telegram_logo_changed.png" alt="Telegram profile of the programmer"></a>
		  </figure>
		  <figure>
			<a href="https://www.youtube.com/channel/UCIqxfNzc9zxXa4D5EqvLtdA" target="_blank"><img src="../../../media/youtube_logo_changed.png" alt="YouTube channel of the programmer"></a>
		  </figure>
		  <figure>
			<a href="https://github.com/MJey16" target="_blank"><img src="../../../media/github_logo_changed.png" alt="GitHub profile of the programmer"></a>
		  </figure>
		</section>
		<div id = "footer-text2">
		  Shared with 💙<br>2021
		</div>
	</footer>  
{% endblock img_desktop %}

{% block img_tablet %}
	<footer class="tablet">
		<section class = "social">
		  <div id = "footer-text">
			From a CSE Student at IUT <br>93 916-96-44 <br>jascinmamurov7@gmail.com
		  </div>
		  <figure>
			<a href="https://www.linkedin.com/in/jmamurov" target="_blank"><img src="../../../media/linkedIn_logo_changed.png" alt="Linkedin profile of the programmer"></a>
		  </figure>
		  <figure>
			<a href="https://t.me/Jasurbek16" target="_blank"><img src="../../../media/telegram_logo_changed.png" alt="Telegram profile of the programmer"></a>
		  </figure>
		  <figure>
			<a href="https://www.youtube.com/channel/UCIqxfNzc9zxXa4D5EqvLtdA" target="_blank"><img src="../../../media/youtube_logo_changed.png" alt="YouTube channel of the programmer"></a>
		  </figure>
		  <figure>
			<a href="https://github.com/MJey16" target="_blank"><img src="../../../media/github_logo_changed.png" alt="GitHub profile of the programmer"></a>
		  </figure>
		</section>
		<div id = "footer-text2">
		  Shared with 💙<br>2021
		</div>
	</footer>
{% endblock img_tablet %}