{% extends 'UTipsApp/base.html' %} 
{% block content %}
    <h2>About Page</h2>
{% endblock content %}
<!-- {% block main-style %}
<style class = "back-wide">
  body{
    background-image: url("../../../media/back_about.jpg");
    background-position: center;
    background-size: 100%;
  }
</style>
{% endblock main-style %} -->
{% block sidebar %}
	<div class="col-md-4" id = "sidebar-box">
		<div class="content-section" style="border-radius: 8px;">
	     		{% if user.is_authenticated %}
		  			<h3>User's Info</h3>
		  			<p class='text-muted'>Current User's Activities for the last time.
					<ul class="list-group" id = "sidebar_info">
						<img class="rounded-circle account-img" src="{{ user.profile.image.url }}"">
						<li class="list-group-item list-group-item-light"><strong>User:</strong> {{ user.username }}</li>
						{% if topics %}
							<li class="list-group-item list-group-item-light"><strong>Last Topic Added:</strong> {{ topics.0.topic }}</li> 
							<li class="list-group-item list-group-item-light"><strong>On Date:</strong> {{ topics.0.date_shared }}</li>
							<li class="list-group-item list-group-item-light"><strong>On Subject:</strong> {{ topics.0.subject }}</li>
						{% else %}
							<li class="list-group-item list-group-item-light"><em>Seems like you don't have any contributions</em></li>
						{% endif %}
		  		{% else %}
		  			<h3>Overall Info</h3>
		  			<p class='text-muted'>Quick overview of the things this website contains.
					<ul class="list-group" id = "sidebar_info">
						<li class="list-group-item list-group-item-light"><strong>Subjects:</strong> {{ subjects.count }}</li>
						<li class="list-group-item list-group-item-light"><strong>Topics:</strong> {{ topics.count }}</li>	
						<li class="list-group-item list-group-item-light"><strong>Last Topic Added:</strong> {{ topics.0.topic }}<br>
											     						  <strong>Date:</strong> {{ topics.0.date_shared }}<br>
											     						  <strong>Author:</strong> {{ topics.0.author }}</li>	
				{% endif %}
					</ul>
		</div>
	  </div>
	</div>
{% endblock sidebar %}
