{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href="{% static 'UTipsApp/main.css' %}">
    {% if title %}
        <title>UTips • {{ title }}</title>
    {% else %}
        <title>UTips</title>
    {% endif %}
    
</head>
<body>
  <!-- {% block main-style %}
    <style class = "back-wide">
      body{
        background-image: url("../../../media/back_main.jpg");
      }
    </style>
  {% endblock %} -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="/">🌌UTips </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                {% block link %}{% endblock link %} 
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                  <a class="nav-item nav-link" id = "profile-logo" href="{% url 'profile' %}">Profile</a>
                {% else %}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% if messages %}
              {% for message in messages %}
                <div class = "alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div>
          {% block sidebar %}{% endblock %}
    </main>
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <footer class="desktop">
      <section class = "social">
        <div id = "footer-text">
          From a CSE Student at IUT <br>Phone: 93 916-96-44 <br>Gmail: jascinmamurov7@gmail.com
        </div>
        <figure>
          <a href="https://www.linkedin.com/in/jmamurov" target="_blank"><img src="../../../media/linkedIn_logo_changed.png" alt="Linkedin profile of the programmer"></a>
        </figure>
        <figure>
          <a href="https://t.me/Jasurbek16" target="_blank"><img src="../../../media/telegram_logo_changed.png" alt="Telegram profile of the programmer"></a>
        </figure>
        <figure>
          <a href="https://www.youtube.com/channel/UCIqxfNzc9zxXa4D5EqvLtdA" target="_blank"><img src="../../../media/youtube_logo_changed.png" alt="YouTube channel of the programmer"></a>
        </figure>
        <figure>
          <a href="https://github.com/MJey16" target="_blank"><img src="../../../media/github_logo_changed.png" alt="GitHub profile of the programmer"></a>
        </figure>
      </section>
    </footer>
    <footer class="tablet">
      <section class = "social">
        <div id = "footer-text">
          From a CSE Student at IUT <br>Phone: 93 916-96-44 <br>Gmail: jascinmamurov7@gmail.com
        </div>
        <figure>
          <a href="https://www.linkedin.com/in/jmamurov" target="_blank"><img src="../../../media/linkedIn_logo_changed.png" alt="Linkedin profile of the programmer"></a>
        </figure>
        <figure>
          <a href="https://t.me/Jasurbek16" target="_blank"><img src="../../../media/telegram_logo_changed.png" alt="Telegram profile of the programmer"></a>
        </figure>
        <figure>
          <a href="https://www.youtube.com/channel/UCIqxfNzc9zxXa4D5EqvLtdA" target="_blank"><img src="../../../media/youtube_logo_changed.png" alt="YouTube channel of the programmer"></a>
        </figure>
        <figure>
          <a href="https://github.com/MJey16" target="_blank"><img src="../../../media/github_logo_changed.png" alt="GitHub profile of the programmer"></a>
        </figure>
      </section>
    </footer>
    
</body>
</html>