{% extends 'UTipsApp/base.html' %} 
{% load crispy_forms_tags %}
{% block link %}
    <a class="nav-item nav-link" href="{% url 'Ut-about' %}">About</a>
{% endblock link %}
{% block content %}
    <div class = "content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Good Day 🐱‍👓</legend>
                {{ form|crispy}}
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" type="submit">Enter</button>
            </div>
        </form>
        <div class = "border-top pt-3">
            <small class = "text-muted">
                Want to be a Member? <a class = "ml-2" href="{% url 'register' %}">Join</a>
            </small>
        </div>
    </div>
{% endblock content %}
