{% extends 'UTipsApp/base.html' %} 
{% block link %}
    <a class="nav-item nav-link" href="{% url 'Ut-about' %}">About</a>
{% endblock link %}
{% block content %}
    <h2>Logged out</h2>
    <div class = "border-top pt-3">
        <small class = "text-muted">
          <a href="{% url 'login' %}" style="color:rgb(29, 94, 116); font-size: 25px;">Enter Again</a>
        </small>
    </div>
    <div class="quote-desktop" style="font-size: 30px;">
        When everything seems to be going against you, 
        <br> remember that the airplane takes off 
        <br> against the wind, <br> not with it. -Henry Ford
    </div>
    <div class="quote-mobile" style="position: relative; left: 5px;">
	Failure is the opportunity to begin again <br> more intelligently. <br> -Henry Ford
    </div>
{% endblock content %}

