{% extends "UTipsApp/base.html" %}
{% load crispy_forms_tags %}
{% block link %}
    <a class="nav-item nav-link" href="{% url 'Ut-about' %}">About</a>
{% endblock link %}
<!-- {% block main-style %}
<style class = "back-wide">
  body{
    background-image: url("../../../media/back_profile.jpg");
    background-position: center;
    background-size: 100%;
  }
</style>
{% endblock main-style %} -->
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method = "POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <fieldset class = "form-group">
            <legend class = "border-bottom mb-4">Modify Info</legend>
            {{ u_form|crispy}}
            {{ p_form|crispy}}
        </fieldset>
        <div class = "form-group">
            <button class = "btn btn-outline-info" type="submit">Change</button>
        </div>
      </form>
    </div>
{% endblock content %}